/* Large Deivces */
@media screen and (max-width: 1460px) {
    .padd-lg-nav {
        padding: 20px 40px;
    }

    .fourth-content {
        padding: 80px 120px;
    }

    .accordion-faq {
        padding-left: 20px;
    }

    .footer {
        padding: 20px 40px;
    }

    .modal-content {
        padding: 50px;
        width: 50vw;
    }

    .modal-content-tips {
        padding: 50px;
        width: 50vw;
    }

    .carousel-testimonial .owl-nav {
        bottom: -4%;
        right: 31.2%;
    }
}

@media screen and (max-width: 1200px) {
    .accordion-faq {
        padding-left: 0;
    }

    .faq-accord {
        width: 100%;
    }

    .card-testomonial .testi-des {
        max-width: 50%;
        width: 100%;
        position: relative;
    }

    .card-testomonial {
        gap: 48px;
    }

    .carousel-testimonial .owl-nav {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        z-index: 10;
    }

    .fourth-content {
        padding: 80px 120px;
    }


    .navbar-nav {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
    }

    .tenth-section .tenth-content {
        flex-direction: column;
    }

    .faq-content {
        max-width: 100%;
    }
}

/* 1024 */
@media screen and (max-width: 1024px) {


    .padd-lg {
        padding: 0 24px;
    }

    .second-section {
        padding: 48px 24px;
    }

    .fourth-section {
        padding: 72px 24px;
    }

    .fourth-content {
        padding: 60px 100px;
    }

    .fourth-content::before {
        height: 400px;
        width: 250px;
        top: -5%;
    }

    .fourth-content .content-desc {
        max-width: 90%;
    }

    .fourth-content .count-content .count-no {
        font-size: clamp(2rem, 1rem + 3vw, 4.5rem);
    }

    .fourth-content .count-content .count-desc {
        font-size: 18px;
    }

    .fourth-content {
        padding: 48px 24px;
    }

    .fifth-section {
        padding: 0 24px;
    }

    .sixth-section {
        padding: 72px 24px;
    }

    .eighth-section {
        padding: 72px 24px;
    }

    .tenth-section {
        padding: 72px 24px;
    }

    .footer {
        padding: 0 24px;
    }

    .footer-container {
        align-items: flex-start;
    }

    .eleventh-section .form-content form {
        flex-direction: column;
    }

    .eleventh-section .form-content .input-field {
        width: 100%;
    }

    .consult-container {
        padding: 48px;
    }

    .eleventh-section .form-content {
        padding: 48px 24px;
    }

    .eleventh-section .form-content .form-btn {
        width: 100%;
    }

    .second-section::before {
        display: none;
    }

    .second-section::after {
        display: none;
    }

    .card-testomonial {
        flex-direction: column;
    }

    .card-testomonial .video-testi {
        max-width: 100%;
    }

    .card-testomonial .testi-des {
        max-width: 100%;
    }

    .flex-40 {
        flex-wrap: wrap;
    }

    .flex-20 {
        flex-wrap: wrap;
    }

    .flex-row{
        flex-wrap: wrap;
        gap: 20px;
    }

    .card-testomonial .video-container{
        max-width: 100%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {

    .navbar-nav {
        align-items: flex-start;
    }

    .navbar-btn {
        display: none;
    }

    .modal-content {
        width: 100vw;
        padding: 48px 24px;
    }

    .modal-content-tips {
        width: 100vw;
        padding: 48px 24px;
    }

    .modal-header{
        justify-content: flex-end;
    display: flex;
    }

    .seventh-section::before{
        height: 215px;
        width: 100px;
    }

    .seventh-section::after{
        height: 215px;
        width: 100px;
    }
}

/* Phone */
@media screen and (max-width: 480px) {

    .navbar {
        padding: 1.5rem !important;
    }

    .second-cards .flex-28-wrap{
        justify-content: center;
    }

    .play-pause-btn img{
        height: 50px;
        width: 50px;
    }

}